<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giới thiệu</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <%- include('header') %>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Giới thiệu về NemoWEB!</h1>
    <p class="lead">Chào mừng bạn đến với NemoWEB!</p>
    
    <h3>Giới thiệu</h3>
    <p>NemoWEB là một dự án được tạo ra để hoàn thành môn học lập trình web nâng cao </p>

    <h3>Tầm Nhìn</h3>
    <p> Nemo mong muốn xây dựng một trang web được 10đ</p>

    <h3>Sứ Mệnh</h3>
    <p>Sứ mệnh của Nemo là có 1 lần được 10đ môn lập trình web</p>

    <h3>Giá Trị Cốt Lõi</h3>
    <ul>
      <li><strong>Đổi mới:</strong> Nemo luôn tìm kiếm cách làm mới và cải tiến để phục vụ người dùng tốt hơn.</li>
      <li><strong>Tôn trọng:</strong> Nemo tôn trọng mọi người và mong muốn xây dựng một cộng đồng đoàn kết.</li>
      <li><strong>Chất lượng:</strong> Nemo cam kết mang đến chất lượng dịch vụ tốt nhất cho người dùng.</li>
    </ul>

    <h3>Cảm ơn Cô đã ghé thăm!</h3>
    <p>Nemo hy vọng bạn sẽ có những trải nghiệm tuyệt vời tại NemoWEB!.</p>
  </div>
  <%- include('footer') %>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGz8z1C2YYLbL0XHsL/5u5T0zIgf0I1MXAFw8+34Fj9Oa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eylKkn2l3hfCRY9kEEN5kNx5fqfVYlZKPb6rIYKtG+ue58C2uC3QcJc" crossorigin="anonymous"></script>
</body>
</html>
