<footer class="bg-light text-center text-lg-start" style="border: 2px solid #000; border-radius: 10px; margin: 20px; padding: 10px;">
    <div class="container p-4">
      <div class="row">
        <!-- Cột thứ nhất -->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nemo Web</h5>
          <p>
            Đây là trang web demo của Nemo. Trang web này về cái gì thì Nemo không biết.
          </p>
        </div>
  
        <!-- Cột thứ hai -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Liên hệ</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/tien.phamhuu.3785/"  class="text-dark"> Facebook
               
              </a>
            </li>
            <li>
              <a href="https://github.com/NemoJohnFynz" class="text-dark">GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); border-top: 1px solid #000;">
      © 2024 Bản quyền thuộc về: Nemo
    </div>
  </footer>
  