<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Các mục bên trái -->
        <li class="nav-item">
          <a class="nav-link" href="/about">Thêm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Liên Hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getlistuser">Quản lý người dùng</a>
        </li>
      </ul>

      <!-- Các mục bên phải -->
      <ul class="navbar-nav ms-auto">
        <% if (username) { %> 
          <li class="nav-item">
            <a class="nav-link" href="#">Xin chào, <%= username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Đăng xuất</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Đăng ký</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
